.Loading {
    text-align: center;
    
  }
  
  .LoadingLogo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .LoadingLogo {
      animation: Loading-logo-spin infinite 20s linear;
    }
  }
  
  .LoadingHeader {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
  @keyframes Loading-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .Dokan {
    color: #900C3F;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 25px;
  }
  