.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.flexContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }


@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

